{% extends 'base.html' %}
{% block head %}
    <title>SafeShop - Listings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.min.css') }}">
{% endblock %}
{% block content %}
    <div id="sorting">
        <span>Sort by </span>
        <select id="category" name="category">
            <option value="newest">newest</option>
            <option value="cheapest">cheapest</option>
            <option value="most_relevant">most relevant</option>
        </select>
        <span>deals</span>
    </div>
    <div id="listings">
        {% for item in listings %}
        <a class="listing_box dnone" href="{{ url_for('listing_item', id=item.id) }}" id="{{ 'item%d' % (loop.index-1) }}">
            <div class="boxtop boxmid0">
                <div class="boxtopleft">
                    {% if item.username == 'goodguyseller' %}
                    <img src="{{ url_for('static', filename='img/profile_picture_black.png') }}" alt="Profile Pic">
                    {% elif item.username == 'seller_123' %}
                    <img src="{{ url_for('static', filename='img/dog_profile_picture.png') }}" alt="Profile Pic">
                    {% else %}
                    <img src="{{ url_for('static', filename='img/profile_picture_black.png') }}" alt="Profile Pic">
                    {% endif %}
                    <span>{{ item.username }}</span>
                </div>
                <div class="boxtopright tooltip">
                    {% if item.verified %}
                    <img src="{{ url_for('static', filename='img/check.png') }}" alt="Check symbol - not a scam">
                    <span class="tooltiptext">This item is most likely not a scam.</span>
                    {% else %}
                    <img src="{{ url_for('static', filename='img/warning.png') }}" alt="Warning symbol - might be a scam">
                    <span class="tooltiptext">This item is flagged and might be a <strong>scam</strong>.</span>
                    {% endif %}
                </div>
            </div>
            <div class="boxbottom">
                <div class="boxmid1 boxmid">
                    <img src="{{ item.image }}" class="boximg" alt={{ item.name }}>
                </div>
                <div class="boxmid2 boxmid">
                    <h3 class="boxname">{{ item.name }}</h3>
                </div>
                <div class="boxmid3 boxmid">
                    <h4 class="boxprice">${{ item.price }}</h4>
                </div>
            </div>
        </a>
        {% endfor %}
        {% for i in range(3) %}
        <div class="temp_listing_box" id="{{ 'tempitem%d' % (loop.index-1) }}">
            <div class="boxtop boxmid0">
                <div class="boxtopleft">
                    <img src="{{ url_for('static', filename='img/profile_picture_black.png') }}" alt="Profile Pic">
                    <span>Unloaded</span>
                </div>
                <div class="boxtopright">
                    <img src="{{ url_for('static', filename='img/check.png') }}" alt="Content is not yet loaded">
                </div>
            </div>
            <div class="boxbottom">
                <div class="boxmid1 boxmid">
                    <img src="{{ url_for('static', filename='img/check.png') }}" class="boximg" alt="Content is not yet loaded">
                </div>
                <div class="boxmid2 boxmid">
                    <h3 class="boxname">Unloaded content</h3>
                </div>
                <div class="boxmid3 boxmid">
                    <h4 class="boxprice">Unloaded content</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        document.onreadystatechange = () => {
            if (document.readyState === 'complete') {
                let k = document.getElementsByClassName('listing_box')
                console.log(k);
                for(var i = 0; i < k.length; i++) {
                    temp = k[i].id;
                    console.log(temp)
                    document.getElementById(temp).classList.remove('dnone')
                }

                k = document.getElementsByClassName('temp_listing_box')
                for(var i = 0; i < k.length; i++) {
                    temp = k[i].id;
                    document.getElementById(temp).classList.add('dnone')
                }
            }
        };
    </script>
{% endblock %}